.form-control{
    border: 2px solid #909090;
    width: 90%;
}
.input-search{
    display: flex;
}

.input-search button{
width: 120px;
padding: 10px  0;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.card{
    width: 28% !important;

}